body {
    text-align: center;
}

header {
    text-align: left;
}

#timer {
 text-align: center;
}

.timeTextParent {
  display: inline;
}

.timeText {
    display: inline;
}

#quizAnswer {
    background-color: aqua;
    width: 250px;
    margin-left: 530px;
}